<center><a href="/profile">Back to my profile</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="Logout">

</form>
<% end %>

<h3>You matched with:</h3>

<div id = "show_match">
<% z = @matches %>
<% z.each do |match| %>
<p>You matched with: <%= match.username %></p><br>
<img src= "<%= match.img %>" max-width=25%>
<p> This user is <%= match.age %> years old.</p>
<p>This is how they described themselves: <%= match.bio %></p>
<br>
<% end %>
</div>

<div id = "show_date">
<h2>On your date you are going to:</h2>
<% y = @dates %>
<% y.each do |date| %>
<%= date.location %><% date.description %><br>
<img src= "<%= date.img %>" max-width=25%>
<br>
<% end %>
</div>

<h2> Who pays? </h2>
<% pays = ["You're paying!", "You're splitting it 50/50", "You don't have to pay a dime :)"] %>
<%= pays[ rand(3) ] %>

</div>
</center>