<a href="/">Home</a>

<%if get_current_user %>
<form action="/logout" method="post">
  <input type="submit" value="logout">

</form>
<% end %>

<!-- DAY TYPE MATCH -->

<div class="match_title">
<h1> Date Type Matches</h1>
<% @date_type_matches.each do |d| %>
<% if d.user_id == nil %>
<%= puts "Sorry! No matches found." %>
<% else %>

<div class="match_page">
<img class="show_match" src="<%= User.find(d.user_id).img %>">
<br>
<br>
<%= User.find(d.user_id).username %>
<% end %>
<% end %>
</div>

<br><br>



<div class="match_title">
<h1> Age Type Matches</h1>
<%= @age_range %>
</div>
<br>
<br>

<!-- GENDER MATCH -->

<div class="match_title">
<h1>Gender Matches</h1>
<% @gender_matches.each do |m| %>
</div>

<div class="match_page">
<img class="show_match" src="<%= m.img %>">
<br>
<br>
<%= m.username %>
<% end %>
</div>