

<center><h1>D8r</h1>

<center>
<h2>Dating just got less awkward.</h2>
    <!-- Collection of nav links and other content for toggling -->
  <a href="/" class="nice-link">Home</a><br>
  </strong>
  <br>
  <br>

  <img src="http://static1.businessinsider.com/image/51c4c7f9ecad04ed35000002/online-dating-is-losing-its-stigma-among-single-americans.jpg">

<%if get_current_user.nil? %>
<div class = "login">
<form action="/" method="post">
    <div class="form">
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="<%= @user && @user.username %>"required >
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" value="<%= @user && @user.password %>"required >
      </div>
       <div>
        <label>Avatar URL:</label>
        <input type="url" name="img" value="<%= @user && @user.img %>" required >
      </div>
      <div>

        <label>Age:</label>
        <input type="text" name="age" value="<%= @user && @user.age %>" required>

      </div>
       <div>
       <label>Gender:</label>
        <select name="gender" value="<%= @user && @user.gender %>" required>
        <option value="nil" selected disabled>Select an option</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        </select>
        <br>
      </div>
      <div><br>

        <label>Bio:</label>
        <input type="text" name="bio" value="<%= @user && @user.bio %>">

      </div>
      <br>
      <div>

      <input type="submit" value="Sign Me Up!">
      </div>
    </div>
  </div>
  </div>
</form>
<br><br>
 <p>Already have a profile? <strong><a href="/login">Login</strong></a><br></p>

<%end%>

<% if @user && @user.errors.any? %>
  <div>
    <strong>There are some issues with your input, you'll have to fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |input| %>
        <li><%= input %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<center>
<%if get_current_user %>
<p>Looks like you're already signed in!</p>
<a href="/profile" class="nice-link">My Profile</a><br>
<br>  
<form action="/logout" method="post">
<input type="submit" value="Logout">
</form>
<% end %>

</div>
</center>
