<h1>SnapDate</h1>

<h2>Welcome to the App. Please Sign up below.</h2>

<form action="/" method="post">
    <div class="form">
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="<%= @user && @user.username %>">
      </div>
      <div>
        <label>Password:</label>
        <input type="text" name="password" value="<%= @user && @user.password %>">
      </div>
       <div>
        <label>Image:</label>
        <input type="text" name="img" value="<%= @user && @user.img %>">
      </div>
      <div>
        <label>Age:</label>
        <input type="text" name="age" value="<%= @user && @user.age %>">
      </div>
       <div>
       <label>Gender:</label>
          <input type="radio" name="gender" value="male">Male<br>
          <input type="radio" name="gender" value="female">Female
      </div>
      <div>
        <label>Bio (140 chars max):</label>
        <input type="text" name="bio" value="<%= @user && @user.bio %>">
      </div>
      <div>
      <input type="submit" value="Submit">
      </div>
    </div>
  </div>
</form>

<a href="/">Reload Homepage</a>

  <% if @user && @user.errors.any? %>
  <div>
    <strong>There are some issues with your input, you'll have to fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |input| %>
        <li><%= input %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form action="/login" method="post">
  <input type="submit" value="login">
</form>