
<center><h1>D8r</h1></center>


<center><h2>Welcome to D8r. Dating just got less awkward.</h2></center>

<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/login" class="navbar-brand">D8R</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li>Already have a profile? Well <strong><a href="/login">login</strong></a> then</li>
        </ul>
    </div>
</nav>

<%if @user.nil? %>

<form action="/" method="post">
    <div class="form">
      <div>
        <label>Username:</label>
        <input type="text" name="username" value="<%= @user && @user.username %>"required >
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" value="<%= @user && @user.password %>"required >
      </div>
       <div>
        <label>Avatar URL:</label>
        <input type="url" name="img" value="<%= @user && @user.img %>" required >
      </div>
      <div>

        <label>Age:</label>
        <input type="text" name="age" value="<%= @user && @user.age %>" required>

      </div>
       <div>
       <label></label><br>
          <input type="radio" name="gender" value="male">Male<br>
          <input type="radio" name="gender" value="female">Female
      </div>
      <div>

        <label>Bio:</label>
        <input type="text" name="bio" value="<%= @user && @user.bio %>">

      </div>
      <br>
      <div>

      <input type="submit" value="Sign Me Up!">
      </div>
    </div>
  </div>
  </div>
</form>

<form action="/login" method="post">
  <input type="submit" value="Login">
</form>


<%end%>

<% if @user && @user.errors.any? %>
  <div>
    <strong>There are some issues with your input, you'll have to fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |input| %>
        <li><%= input %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%if get_current_user %>
<p>Looks like you're already signed in!</p>
<form action="/profile" method="post">
  <input type="submit" value="Go to my profile">
</form>
<br>
<form action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
<%end%>
